*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-left: 5px;
    margin-right: 5px;
}

.logo-container{
    background-color: aqua;
    background-image: url("img/pattern.png");
}

.logo{
    width: 120px;
    margin-top: 20px;
}

.main-title{
    margin-top: 20px;
}


h5{
    color: lightgray;
}

.lorem{
    margin-top: 20px;
}

#highlighted-text{
    
    background-color: yellow;

}

.lorem-list{
    margin-top: 20px;
    margin-left: 20px;
}

.table{
    margin-top: 20px;
}

thead{
    background-color: blue;
    color: white;
}

.uneven{
    background-color: lightblue;
    color: black;
}

.even{
    background-color: white;
    color: black;
}

td{
    padding-right: 85px;
}